* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS 1", sans-serif;
}

body {
  background-color: black;
}





/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid black;
  box-shadow: 0px 0px 10px white;
  position: fixed;
  background-color: white;
}

h1 {
  color: red;
  text-transform: capitalize;
}

input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid red;
  margin-right: 15px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  background-color: red;
  color: white;
}

button:hover {
  border: 2px solid red;
  background-color: white;
  color: red;
  transition: 0.3s;
}








/* Main */
main {
  padding-top: 7rem;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: left;
  gap: 1.5rem;
}

.card {
  width: calc(100% / 4);
  box-shadow: 0px 0px 10px white;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}

.card:hover {

  .details {
    opacity: 1;
  }
}

.title,
.original-title {
  font-weight: bold;
}

.language {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.rating {
  margin-top: 20px;
}

.overview {
  margin-top: 20px;
}